{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "react-hooks"
  ],
  "extends": [
    "plugin:react-hooks/recommended"
  ],
  "parserOptions": {
    "sourceType": "module"
  }
}
